#1. 데이터프레임 만들기

## 1.1 열별로 만들기
> pd.DataFrame() 안에 딕셔너리 형태{}에 열별로 "컬럼명":리스트 형태로 [데이터] 입력 후 index = 리스트[] 

```
pd.DataFrame(
    {"컬럼명1":[데이터 입력],
     "컬럼명2":[데이터 입력]
     ,,,,
     "컬럼명n":[데이터 입력]},  
     index = 리스트 형태[ ])
```

In [ ]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
         "b" : [7, 8, 9],
         "c" : [10, 11, 12]},
        index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

## 1.2 행별로 만들기  
딕셔너리로 열 이름과 데이터를 입력하지 않고 리스트 형태로 먼저 행별로 입력 후 인덱스와 컬럼 써줌
```
pd.DataFrame(
    [[1행], ,,, ,[막행]],
    index = [],
    columns = [컬럼명])
```

In [ ]:
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]],
        index=[1, 2, 3],
        columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

## 1.3 복수 인덱스 가진 데이터프레임 만들기
- 인덱스를 튜플()로 행별 인덱스 값 만들고 이름을 지정
```
pd.DataFrame( 
    {"컬럼명1":[데이터 입력], 
     "컬럼명2":[데이터 입력]
     ,,,,
     "컬럼명n":[데이터 입력]},  
     index = pd.MultiIndex.from_tuples(
     [(행별 인덱스값1),(행별 인덱스값2),,,(행별 인덱스값n)],
     names = [인덱스명]
     )
```

In [ ]:
df1 = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],
        names=['n','v']))
df1

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [ ]:
# 데이터프레임 만들기

## 열별로 만들기
> pd.DataFrame() 안에 딕셔너리 형태{}에 열별로 "컬럼명":리스트 형태로 [데이터] 입력 후 index = 리스트[] 

```
pd.DataFrame(
    {"컬럼명1":[데이터 입력],
     "컬럼명2":[데이터 입력]
     ,,,,
     "컬럼명n":[데이터 입력]},  
     index = 리스트 형태[ ])
```

df = pd.DataFrame(
        {"a" : [4 ,5, 6],
         "b" : [7, 8, 9],
         "c" : [10, 11, 12]},
        index = [1, 2, 3])
df

## 행별로 만들기  
딕셔너리로 열 이름과 데이터를 입력하지 않고 리스트 형태로 먼저 행별로 입력 후 인덱스와 컬럼 써줌
```
pd.DataFrame(
    [[1행], ,,, ,[막행]],
    index = [],
    columns = [컬럼명])
```

df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]],
        index=[1, 2, 3],
        columns=['a', 'b', 'c'])
df

## 복수 인덱스 가진 데이터프레임 만들기
- 인덱스를 튜플()로 행별 인덱스 값 만들고 이름을 지정
```
pd.DataFrame( 
    {"컬럼명1":[데이터 입력], 
     "컬럼명2":[데이터 입력]
     ,,,,
     "컬럼명n":[데이터 입력]},  
     index = pd.MultiIndex.from_tuples(
     [(행별 인덱스값1),(행별 인덱스값2),,,(행별 인덱스값n)],
     names = [인덱스명]
     )
```

df1 = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],
        names=['n','v']))
df1